    body {
      background-color: #141414;
      color: white;
    }
    .navbar {
      background-color: #000;
    }
    .card {
      background-color: #222;
      border: none;
    }
    .card img {
      height: 200px;
      object-fit: cover;
    }
    .section-title {
      margin: 30px 0 10px;
    }