/* // 1. Sobrescribir variables de Bootstrap */
$primary: #E50914; /* // El Rojo de Netflix */
$dark: #000000;   /* // El Negro de Netflix */
/* // ... otras variables que quieras cambiar (fuente, espaciado, etc.) */

/* // 2. Importar Bootstrap (todo o solo lo que necesites) */
@import "../../node_modules/bootstrap/scss/bootstrap";